# Ignore everything in the repo by default
/*

# But keep this .gitignore file
!.gitignore

# Keep the Confocale and the 2_Fotoni folders so we can selectively include files inside them
!/Confocale/
!/2_Fotoni/

# Inside Confocale and 2_Fotoni, ignore everything by default
/Confocale/*
/2_Fotoni/*

# Allow only these Python files in Confocale
!/Confocale/tamsd_plot.py
!/Confocale/data_reader.py
!/Confocale/msd_analyzer.py
!/Confocale/eamsd_plot.py
!/Confocale/guide.md
!/Confocale/compare_msd.py
!/Confocale/plot_msd_fit.py
!/Confocale/msd_fitting.py
!/Confocale/msd_fitting_nonlinear.py
!/Confocale/msd_fitting_anomalous.py
!/Confocale/msd_fitting_anomalous_drift.py

# Keep the Docu folder itself so we can selectively include files inside it
!/Confocale/Docu/
# Allow only these files in Docu
!Confocale//Docu/COMPLETE_USER_GUIDE.md
!Confocale/Docu/OVERVIEW.md
!Confocale/Docu/DATA_ANALYSIS_CORE.md
!Confocale/Docu/COMPARISON_ANALYSIS.md
!Confocale/Docu/MSD_FITTING.md
!Confocale/Docu/SCRIPTS_REFERENCE.md
!Confocale/Docu/GETTING_STARTED_BEGINNERS.md

!/2_Fotoni/flim_data_reader.py
!/2_Fotoni/flim_exponential_fit.py
!/2_Fotoni/plot_power_intensity.py
!/2_Fotoni/run_all_flim.sh
